body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;  
}
#box {
    display: flex;
    width: 298px; 
    height: 385px;
    border-radius: 10px;
    gap: 10px;
    background-color: #282836;
}
#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}
#digits {
    display: grid;
    grid-template-columns: repeat(4, 62px);
    grid-template-rows: repeat(5, 44px);
    gap: 10px;
    width: 278px;
    height: 260px;
}
.numbers {
    width: 62px;
    height: 44px;
}
.operators {
    width: 62px;
    height: 44px;
}
button {
    border: 1px solid #616161;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 2px 2px 6px #0000004d;
    background-color: #2D2D45;
}
#zoneOfCounting {
    width: 278px;
    height: 66px;
    border: 1px solid #707070;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 44px;
    background-color: #2D2D45;
    font-weight: bold;
    color: white;
}
#equal {
    grid-column: span 2;
    width: auto;
}